body{
    background-image: url(./Log-Sign/Create\ account\ background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;

}
#Top img{
    width: 10%;
}
#Top{
    margin: 1%;
}
#login{
    position: absolute;
    width: 38%;
    height: 75%;
    left: 5%;
    margin-top: 1%;

    background-color: #0307118d;
    border-radius: 2%;
}
#login h1{
    color: white;
    margin-left: 4%;
}
#login p{
    color: white;
}
#lilclass{
    display: flex;
    flex-direction: row;

}
.loginput{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50%;
color: #15B2D8;

}
#lilclass{
    margin-left: 4%;
}
#inputs{
    margin-top: 7%;
}
#UserInput{
    background-color: rgb(255, 255, 255);
    width: 38%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 7%;
}
#BirthdayInput{
    background-color: rgb(245, 245, 245);
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 5%;
}
#EmailInput{
    background-color: rgb(245, 245, 245);
    width: 83%;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-left: 7%;
    margin-top: 7%;
}
#PasswordInput{
    background-color: rgb(245, 245, 245);
    width: 83%  ;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-left: 7%;
    margin-top: 7%;
}
#createBtn{
    background-color: #15B2D8;
    border: none;
    width: 35%;
    height: 40px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#inputs a{
    text-decoration: none;
}
#inputs input{
    padding-left: 5%;
    font-size: medium;
}